CMakeFiles/
.idea/
*.cmake
CMakeCache.txt
cmake-build-debug
Makefile
Tmp/
*/Build/
HeaderGenerator/ops
HeaderGenerator/genesc
HeaderGenerator/opcodes
HeaderGenerator/genins
HeaderGenerator/mnem
Engine/lo
